li{
    list-style: none;
    width: ;
}
.aa{
    background-color:rgb(47, 152, 221);
    color: aliceblue;
    width: 100px;
}
form{
    padding-left: 430px ;
}
.bb{
    width: 750px;
    padding-left: 375px;
}
.cc{
    padding-left: 430px;
    width: 650px;
}
.dd{
    width: 280px;  
}
.ff{
    width: 280px;
}